# Ignore configuration files that may contain sensitive information.
sites/*/settings.*.php
build
build.properties

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Local testing config
test/behat/local.yml
sites/*.local
sites/*/local.settings.php

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# PHPStorm
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git
